.footer {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.logo-wrapper img {
  max-height: 64px;
  width: auto;
}


