<div class="login-container">
  <mat-card class="login-card">
    <div class="logo-wrapper">
      <img src="./assets/logo.webp" alt="Logo" height="127" width="349"/>
    </div>

    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="email" autocomplete="username" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" autocomplete="current-password" />
      </mat-form-field>

      <button mat-flat-button class="login-button" [disabled]="form.invalid || (isLoading$ | async)" (click)="login()">
        <mat-spinner diameter="20" *ngIf="isLoading$ | async; else loginIcon"></mat-spinner>
        <ng-template #loginIcon>
          <mat-icon>login</mat-icon>
        </ng-template>
        <span *ngIf="!(isLoading$ | async)">Ingresar</span>
        <span *ngIf="isLoading$ | async">Ingresando...</span>
      </button>
    </form>

    <!-- Error message -->
    <div class="error-message" *ngIf="error$ | async as error">
      <mat-icon>error</mat-icon>
      {{ error }}
    </div>

  </mat-card>
</div>
